.vscode/**
.vscode-test/**
.vscode-test.mjs
.git/**
.gitignore
src/**
out/**
node_modules/**
esbuild.js
eslint.config.mjs
tsconfig.json
package-lock.json
vsc-extension-quickstart.md
.yarnrc
**/*.map
**/*.ts
